footer {
    background-color: black;

    text-align: center;
  padding-bottom: 50px;
    color: white;

  }

  h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    color: white;
   }

  h2 {
    color: #075aab;/* set the text color of to #075AAB here */
    margin-bottom: 0.5rem;
    margin-top: 3rem;/* set both the bottom margin and top margin to 2.5rem here */
   }

   p {
     text-align: left;
     font-size: 17px;
     color: white;


   }

  h3 {
    text-align: left;
    margin-bottom: 0;
    margin-top: 2rem;
    color: white;
  }

  h4 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    text-align: center;
    margin-top: 0.5rem;
  }

  hr {
    text-align: center;
    margin-bottom: 3rem;

  }
  body {
    width: auto;
    background-color:  #333333

}






#vision img {
  float: right;
  margin: 20px 0px 20px 0px;
}
#vision {
  width: auto;

  padding: 20px 40px 50px 40px;
  margin: 50px;
}

#mission img {
  float: left;
  margin: 20px 0px 20px 0px;
}
#mission {
  width: auto;

  padding: 20px 40px 30px 40px;
  margin: 50px;
}


#objectives img {
  float: right;
  margin: 20px 0px 20px 0px;
}
#objectives{


  padding: 20px 40px 30px 40px;
  margin: 50px;
}

#action img {
  float: left;
  margin: 20px 0px 20px 0px;
}
#action{


  padding: 20px 40px 30px 40px;
  margin: 50px;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
